<header class="header">
  <div class="header__container">
    <a class="logo" href="#">
      <img class="image" src="img/logo.svg" alt="" width="228" heigth="48" />
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="#">О школе</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Тренеры</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Стоимость</a></li>
      </ul>
      <button class="burger-close"></button>
    </nav>
    <a class="header__phone" href="tel:+79602831991">+79602831991</a>
    button.<button
      class="burger"
      aria-label="Открыть меню"
      aria-expanded="false"
      data-burger
    >
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
