<header class="header">
  <div class="container-fluid header__container">
    <a class="logo" href="#">
      <img class="image" src="img/logo.svg" alt="" width="280" hight="48" />
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="#">О школе</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Тренеры</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Стоимость</a></li>
      </ul>
    </nav>
    <a class="phone" href="tel:89602831991">89602831991</a>
  </div>
</header>
<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">
        ROBO SCHOOL
        <span class="hero__title-text"
          >Курсы повышения квалификации по робототехнике для педагогов начальной
          школы</span
        >
      </h1>
      <a class="hero__link btn" href="#">Записаться на курс</a>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <h2 class="visually-hidden">О школе робоскул</h2>
    <p class="about__descr">
      <span class="about__descr-highlight">Robo School</span> Robo
      School&nbsp;&mdash; учреждение для формирования кадрового педагогического
      резерва в&nbsp;сфере робототехники и&nbsp;программирования
    </p>
    <ul class="about__list">
      <li class="about__item">
        <div class="about__digit">10</div>
        <p class="about__text">
          УМК по различным направлениям по робототехнике
        </p>
      </li>
      <li class="about__item">
        <div class="about__digit">20</div>
        <p class="about__text">Школ, в которых запущена робототехника</p>
      </li>
      <li class="about__item">
        <div class="about__digit">100</div>
        <p class="about__text">
          Педагогов прошедших курсы повышения квалификации
        </p>
      </li>
      <li class="about__item">
        <div class="about__digit">10 000</div>
        <p class="about__text">Обученных детей на базе собственных центров</p>
      </li>
    </ul>
  </div>
</section>
